$accent-color: #a3bbc8;
$default-color: #243f4d;
$black-color: #191919;
$grey-color: #7b7b7b;
$bg-color: #fcd7b6;
$white-color: #fff;
$btn-color: #b3b7b5;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}
%rubik-500 {
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}
%DMSans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}
%DMSans-500 {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}
%DMSans-700 {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}