.product {
  .mixitup-control-active {
    color: $black-color;
  }

  &__content {
    text-align: center;
  }

  &__title {
    font-size: 36px;
    color: $black-color;
    @extend %DMSans-700;
    margin-bottom: 25px;
  }

  &__filters {
    margin-bottom: 65px;
  }

  
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 30px;
    margin-bottom: 200px;
  }
}