.slider {
  &__inner {
    padding: 217px 0 45px;
    background-color: $bg-color;
    background-image: url(../../images/bg-gradient.png);
    background-repeat: no-repeat;
    background-position: 84%;
  }
  &__item {
    display: flex;
    justify-content: center;
  }
  &__content {
    margin: 0 110px 227px 0;
    padding-left: 1px;
  }
  &__title {
    max-width: 420px;
    margin-bottom: 22px;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
    color: $default-color;
    @extend %rubik-500;
  }
  &__text {
    max-width: 370px;
    margin-bottom: 59px;
    font-size: 18px;
    line-height: 1.6;
    color: #436372;
    @extend %rubik-400;
  }
  &__btn {
    background-color: $accent-color;
    padding: 21px 101px 21px 28px;
    font-size: 15px;
    line-height: 1.2;
    color: #fff;
    @extend %rubik-500;
    position: relative;
    &::before {
      content: url(../images/icons/arrow.svg);
      position: absolute;
      right: 19px;
      top: 24px;
    }
  }
  &__img {
    max-height: 264px;
    margin-top: 55px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    li + li {
      margin-left: 10px;
    }
    li {
      button {
        padding: 0;
        font-size: 10px;
        background-color: #fde3cc;
        width: 29px;
        height: 29px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        @extend %rubik-500;
      }
      &.slick-active {
        button {
          background-color: #fff;
        }
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-around;
    background-color: #fef7f0;
    padding: 38px 0px 37px 0;
  }
  &__info-item {
    padding-left: 61px;
    max-width: 274px;
    position: relative;
    & + &::after {
      content: "";
      position: absolute;
      border-left: 1px solid #e8e4df;
      height: 169px;
      left: -167px;
      top: -38px;
    }
    &--support::before {
      background-image: url(../../images/icons/support.svg);
      width: 51px;
      height: 53px;
    }
    &--delivery::before {
      background-image: url(../../images/icons/delivery.svg);
      width: 54px;
      height: 36px;
    }
    &--pay::before {
      background-image: url(../../images/icons/pay.svg);
      width: 54px;
      height: 53px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: -16px;
    }
  }
  &__info-title {
    font-size: 18px;
    line-height: 1.8;
    @extend %DMSans-700;
    color: #414141;
    margin-bottom: 7px;
  }
  &__info-text {
    font-size: 16px;
    line-height: 1.7;
    @extend %DMSans-400;
    color: #585858;
  }
}
