.promo {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin-bottom: 45px;
  }

  &__link {
    @extend %DMSans-700;
    transition: transform 0.5s;

    @include r(575) {
      font-size: 14px;
      padding-right: 5px;
    }

    &:hover {
      transform: translateX(15px);
    }
  }

  &__icon {
    padding-left: 22px;
    width: 28px;
    height: 11px;
  }


  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    margin-bottom: -171px;

    @include r(991) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r(575) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__partners {
    padding: 260px 0 90px;
  }
}