.main-info {
  &__content {
    padding: 38px 0px 37px 0;
    margin-bottom: 65px;
    background-color: #fef7f0;
  }

  &__list {
    display: flex;
    justify-content: space-around;
  }


  &__item {
    padding-left: 70px !important;
    max-width: 274px;
    position: relative;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        border-left: 1px solid #e8e4df;
        height: 166px;
        right: -105px;
        top: -38px;
      }
    }

    &--support {
      &::before {
        background-image: url(../images/icons/support.svg);
      }
    }

    &--delivery {
      &::before {
        background-image: url(../images/icons/delivery.svg);
      }
    }

    &--pay {
      &::before {
        background-image: url(../images/icons/pay.svg);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: -16px;
      width: 54px;
      height: 53px;
      background-repeat: no-repeat;
    }
  }

  &__title {
    font-size: 18px;
    line-height: 1.8;
    @extend %DMSans-700;
    color: #414141;
    margin-bottom: 7px;
  }

  &__text {
    line-height: 1.7;
    color: #585858;
    @extend %DMSans-400;
  }
}