.new-design {
  .mixitup-control-active {
    color: $black-color;
  }

  &__title {
    text-align: center;

    margin-bottom: 20px;
  }

  &__filters {
    text-align: center;

    margin-bottom: 75px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 35px 30px;

    margin-bottom: 120px;
  }


}