.new-product {
  &__title {
    text-align: center;

    margin-bottom: 20px;
  }

  &__filter-btn {
    text-align: center;

    margin-bottom: 75px;
  }

  &__btn {
    background-color: transparent;
    padding: 0;
    border: none;
    @extend %DMSans-700;
    color: $grey-color;
    & + & {
      margin-left: 27px;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 35px 30px;

    margin-bottom: 120px;
  }
  &__item {
    padding: 34px 139px 127px 35px;

    background-color: #f8f8f8;
    position: relative;
  }

  &__link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
  &__name {
    font-size: 20px;
    @extend %DMSans-700;

    margin-bottom: 10px;
  }

  &__class {
    color: $accent-color;
    @extend %DMSans-700;
  }
  &__img {
    position: absolute;
    right: 0;
    top: 39%;

    &--chair {
      right: 32px;
      top: 20%;
    }
  }
}
.mixitup-control-active {
  color: $black-color;
}
