.accessories-cart {

  display: flex;
  background-color: $bg-color;
  max-width: 49%;
  border-radius: 100px;
  padding-bottom: 77px;
  margin-bottom: 92px;

  @include r(991) {
    margin-bottom: 55px;
  }

  @include r(1199) {
    flex-wrap: wrap;
  }

  @include r(991) {
    max-width: 100%;

  }

  &:not(:last-child) {
    margin-right: 30px;

    @include r(991) {
      margin-right: 0;
      padding: 0 37px 70px;
      margin-bottom: 138px;
    }

    @include r(575) {
      padding: 0 0 70px;
    }
  }


  &__img {
    background-size: cover;
    margin: -90px 40px 0 0;
    max-height: 326px;

    @include r(1199) {
      margin: -90px auto 0;
    }
  }

  &__content {
    margin-right: 130px;

    @include r(1199) {
      margin-right: 0;
      margin-left: 20px;
    }
  }

  &__title {
    font-size: 26px;
    color: $black-color;
    @extend %DMSans-700;
    margin-bottom: 11px;
    margin-top: 82px;

    @include r(991) {
      margin-top: 40px;
    }

    @include r(575) {
      font-size: 20px;
    }
  }

  &__text {
    line-height: 1.9;
    margin-bottom: 46px;  

    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;

    @include r(991) {
      max-width: 546px;
    }

    @include r(575) {
      font-size: 14px;
    }
  }

  &__btn {
    border: 1px solid $btn-color;
    padding: 20px 94px 22px 25px;
    border-radius: 40px;
    position: relative;
    font-size: 15px;
    color: #F6F7F7;
    @extend %rubik-500;

    &::before {
      content: url(../images/icons/arrow-2.png);
      position: absolute;
      right: 20px;
      top: 20px;

      transition: transform 0.2s;
    }

    &:hover {
      &::before {
        transform: translateX(15px);
      }
    }

  }
}