.footer {
  padding-bottom: 30px;

  &__top {
    display: flex;

    margin-bottom: 32px;
    padding-bottom: 62px;
    border-bottom: 1px solid #dae4e9;
  }

  &__contact {
    max-width: 205px;
    margin-right: 95px;
  }

  &__logo {
    display: block;
    margin-bottom: 23px;
  }

  &__item-text {
    display: inline;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.2;
    color: $grey-color;
    @extend %rubik-400;
  }

  &__item-address {
    color: $grey-color;
    font-size: 14px;
    line-height: 2.2;
  }

  &__nav {
    margin-right: 181px;
  }

  &__form {
    max-width: 270px;
    @extend %DMSans-400;
  }

  &__title {
    margin-bottom: 21px;
    margin-top: 16px;
    line-height: 1.2;
    @extend %DMSans-700;
    color: #1f2044;
    text-transform: uppercase;

    &--account {
      margin-right: 40px;
    }
  }

  &__item {
    color: $grey-color;
    margin-bottom: 11px;
  }

  &__link {
    font-size: 14px;

    &:hover {
      border-bottom: 1px solid $grey-color;
    }
  }

  &__text {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.7;
    color: $grey-color;
    @extend %rubik-400;
  }

  &__label-scr {
    opacity: 0;
  }

  &__input {
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 8px 17px;

    transition: all 0.5s;

    &::placeholder {
      color: #234969;
      font-size: 12px;
    }

    &:focus {
      transform: scale(1.1);
      background-color: $bg-color;
      border: 1px solid $accent-color;
    }
  }

  &__btn {
    border: none;
    background-color: $accent-color;

    color: #fff;
    font-size: 14px;

    padding: 10px 18px 8px 16px;
    margin-left: -4px;

    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      animation: pulse 1.5s infinite;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom-copy {
    font-size: 14px;
    line-height: 1.2;
    @extend %rubik-400;
  }

  &__bottom-list {
    display: flex;
  }

  &__bottom-item {
    color: $grey-color;

    &:not(:last-child) {
      margin-right: 30px;
      position: relative;

      &::before {
        content: "";
        border-right: 1px solid $grey-color;
        position: absolute;
        height: 14px;
        top: 3px;
        right: -17px;
      }
    }
  }

  &__bottom-link {
    font-size: 14px;
  }
}