.new-cart {
  padding: 34px 139px 127px 35px;

  background-color: #f8f8f8;
  position: relative;


  &__link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  &__name {
    font-size: 20px;
    @extend %DMSans-700;

    margin-bottom: 10px;
  }

  &__class {
    color: $accent-color;
    @extend %DMSans-700;
  }

  &__img {
    position: absolute;
    right: 0;
    top: 39%;

    &--chair {
      right: 32px;
      top: 20%;
    }
  }
}