.new-cart {
  padding: 34px 139px 127px 35px;

  background-color: #f8f8f8;
  position: relative;

  transition: all 0.5s;

  &:hover {
    transform: scale(1.1);

    .new-cart__name {
      color: $accent-color;
    }
  }

  &__link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
  }

  &__name {
    font-size: 20px;
    @extend %DMSans-700;

    margin-bottom: 10px;

    transition: all 0.5s;

    @include r(768) {
      font-size: 16px;

      margin-bottom: 5px;
    }
  }

  &__class {
    color: $accent-color;
    @extend %DMSans-700;
  }

  &__img {
    position: absolute;
    right: 0;
    top: 39%;

    @include r(1199) {
      top: 50%;
    }

    &--chair {
      right: 32px;
      top: 20%;

      @include r(575) {
        top: 27%;
      }
    }
  }
}