.shop {
  padding: 120px 0 0;

  &__inner {
    display: flex;
  }

  &__filters {
    max-width: 272px;
    width: 100%;
    margin-right: 30px;
  }

  &__content {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     grid-gap: 40px 40px;
  }
  
}

.filter {
  &__title {
    font-size: 18px;
    line-height: 1.2;
    @extend %DMSans-700;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 25px;

    &::after {
      content: url(../images/icons/title-line.svg);
      position: absolute;
      right: -55px;
      top: -5px;
    }

  }
}

.filter-category {
  margin-bottom: 55px;

  &__label {
    margin-bottom: 15px;
    cursor: pointer;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter-category__checkbox {
      background-color: #edf1f4;
    }
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px 11px 15px;
    border-radius: 5px;
  }


  &__icon {
    width: 6px;
    height: 10px;
  }
}

.filter-price {
  margin-bottom: 81px;

  &__label {
    display: flex;
    justify-content: center;
  }

  &__from {
    margin-right: auto;
  }
}

.irs--flat .irs-line {
  top: 12px;
  height: 1px;
  background-color: #c2d2db;
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: $accent-color;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-bar {
  top: 11px;
  height: 3px;
  background-color: $accent-color;
}

.filter-brand {
  margin-bottom: 50px;

  &__btn {
    width: 100%;
    color: $default-color;
    cursor: pointer;
    border: none;
    background-color: #fff;

    display: flex;
    justify-content: space-between;
    padding: 12px 20px 11px 15px;
    border-radius: 5px;

    &:focus {
      background-color: #edf1f4;
    }
  }

  &__numb {
    color: #b3b3b3;
  }
}

.filter-rating {

  &__title {
    margin-bottom: 33px;
  }

  &__item {
    display: flex;
    
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__image {
    border: 1px solid #f2f2f2;
    margin-right: 20px;
    max-width: 70px;
    display: flex;  
    align-items: center;  
    justify-content: center;
    padding: 2px 20px;
  }

  &__img {
    max-width: 57px;
    max-height: 63px;
  }

  &__content {
    max-width: 104px;
  }

  &__name {
    font-size: 14px;
    color: #333333;
  }

  &__cost {
    font-size: 15px;
    color: #333333;
  }
}

.jq-ry-container {
  padding: 0;
  margin: 7px 0;
}