<header class="header">
  <div class="container container--lg">
    <div class="header__inner">
      <a class="logo header__logo" href="index.html">
        <img class="logo__img" src="images/logo.png" alt="logo">
      </a>
      <nav class="menu">
        <button class="menu__btn">
          <svg class="menu__icon">
            <use xlink:href="#menu"></use>
          </svg>
        </button>
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="index.html">Home</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="about.html">About</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="terms.html">Services</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="product-list.html">Pages</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="product-detalis.html">News</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="login.html">Contact</a>
          </li>
        </ul>
      </nav>

      <div class="user-nav">
        <button class="user-nav__link user-nav__link--search" href="#">
          <svg class="user-nav__img user-nav__img--search">
            <use xlink:href="#search"></use>
          </svg>
        </button>
        <div class="user-nav__items">
          <a class="user-nav__link user-nav__link--heart" href="#">

            <svg class="user-nav__img">
              <use xlink:href="#heart"></use>
            </svg>

            <span class="user-nav__num">0</span>
          </a>
          <a class="user-nav__link user-nav__link--cart" href="#">
            <svg class="user-nav__img">
              <use xlink:href="#cart"></use>
            </svg>
            <span class="user-nav__num">0</span>
          </a>
        </div>
        <button class="user-nav__link user-nav__link--dots" href="#">
          <svg class="user-nav__img user-nav__img--dots">
            <use xlink:href="#dots"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>