<section class="promo">
  <div class="container">

    <div class="promo__top">
      <h2 class="promo__title title">Our Insights & Articles</h2>
      <a class="promo__link" href="#">View All
        <svg class="promo__icon">
          <use xlink:href="#promo-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="promo__content">
      <div class="promo__items">

        <article class="promo-item">
          <div class="promo-item__span">
            <img class="promo-item__img" src="images/promo/promo-img-1.jpg" alt="room">
            <span class="promo-item__class">news</span>
          </div>
          <h3 class="promo-item__title">Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam</h3>
          <a class="promo-item__link" href="#">link</a>
          <div class="promo-item__links">
            <time class="promo-item__date" href="#">28 January, 2020</time>
            <a class="promo-item__author" href="#">by admin</a>
          </div>
        </article>

        <article class="promo-item">
          <div class="promo-item__span">
            <img class="promo-item__img" src="images/promo/promo-img-2.jpg" alt="room">
            <span class="promo-item__class">news</span>
          </div>
          <h3 class="promo-item__title">Aonsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore</h3>
          <a class="promo-item__link" href="#">link</a>
          <div class="promo-item__links">
            <time class="promo-item__date" href="#">28 January, 2020</time>
            <a class="promo-item__author" href="#">by admin</a>
          </div>
        </article>

        <article class="promo-item">
          <div class="promo-item__span">
            <img class="promo-item__img" src="images/promo/promo-img-3.jpg" alt="room">
            <span class="promo-item__class">news</span>
          </div>
          <h3 class="promo-item__title promo-item__title--mb">Rncididunt ut labore et dolore magna aliqua. Ut enim
          </h3>
          <a class="promo-item__link" href="#">link</a>
          <div class="promo-item__links">
            <time class="promo-item__date" href="#">28 January, 2020</time>
            <a class="promo-item__author" href="#">by admin</a>
          </div>
        </article>

      </div>
    </div>
  </div>

  <div class="partners promo__partners">
    <div class="container">
      <ul class="partners__list">
        <li class="partners__item">
          <img class="partners__img" src="images/partners/logo_partner-1.png" alt="partners">
        </li>
        <li class="partners__item">
          <img class="partners__img" src="images/partners/logo_partner-2.png" alt="partners">
        </li>
        <li class="partners__item">
          <img class="partners__img" src="images/partners/logo_partner-3.png" alt="partners">
        </li>
        <li class="partners__item">
          <img class="partners__img" src="images/partners/logo_partner-4.png" alt="partners">
        </li>
        <li class="partners__item">
          <img class="partners__img" src="images/partners/logo_partner-5.png" alt="partners">
        </li>
      </ul>
    </div>
  </div>

</section>

<svg display="none">
  <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.1 10.97" id="promo-arrow">
    <path
      d="M.55 10.97a.53.53 0 01-.41-.19.6.6 0 01-.15-.4.631.631 0 01.17-.43l4.55-4.47L.16 1A.607.607 0 01-.01.58.629.629 0 01.14.17a.559.559 0 01.8-.02l4.98 4.9.01.01a.657.657 0 01.12.17.7.7 0 01.05.25.742.742 0 01-.05.25.61.61 0 01-.12.16c0 .01-.01.01-.01.02l-4.98 4.9a.589.589 0 01-.39.16z"
      fill="#262626" fill-rule="evenodd"></path>
  </symbol>
</svg>