<article class="product-cart mix category-a">
  <img class="product-cart__img" src="images/product/1.png" alt="product">
  <h3 class="product-cart__title">Wooden radio</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>
<article class="product-cart mix category-a">
  <img class="product-cart__img" src="images/product/2.png" alt="product">
  <h3 class="product-cart__title">Wooden chair</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>
<article class="product-cart mix category-b">
  <img class="product-cart__img" src="images/product/3.png" alt="product">
  <h3 class="product-cart__title">White chair</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>
<article class="product-cart mix category-b">
  <img class="product-cart__img" src="images/product/3.png" alt="product">
  <h3 class="product-cart__title">White chair</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>
<article class="product-cart mix category-b">
  <img class="product-cart__img" src="images/product/3.png" alt="product">
  <h3 class="product-cart__title">White chair</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>
<article class="product-cart mix category-b">
  <img class="product-cart__img" src="images/product/4.png" alt="product">
  <h3 class="product-cart__title">Retro table</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>
<article class="product-cart mix category-b">
  <img class="product-cart__img" src="images/product/4.png" alt="product">
  <h3 class="product-cart__title">Retro table</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>
<article class="product-cart mix category-c">
  <img class="product-cart__img" src="images/product/5.png" alt="product">
  <h3 class="product-cart__title">Wooden radio</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button href="#" class="product-cart__link">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button href="#" class="product-cart__link">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>
<article class="product-cart mix category-c">
  <img class="product-cart__img" src="images/product/5.png" alt="product">
  <h3 class="product-cart__title">Wooden radio</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button href="#" class="product-cart__link">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button href="#" class="product-cart__link">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>
<article class="product-cart mix category-c">
  <img class="product-cart__img" src="images/product/6.png" alt="product">
  <h3 class="product-cart__title">Wooden chair</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button class="product-cart__link" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>
<article class="product-cart mix category-d">
  <img src="images/product/7.png" alt="product" class="product-cart__img">
  <h3 class="product-cart__title">White chair</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button href="#" class="product-cart__link">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button href="#" class="product-cart__link">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>
<article class="product-cart mix category-d">
  <img class="product-cart__img" src="images/product/8.png" alt="product">
  <h3 class="product-cart__title">Retro table</h3>
  <span class="product-cart__price">$29.00</span>
  <div class="product-cart__links">
    <a class="product-cart__link product-cart__link--search" href="#">
      <svg class="product-cart__icon">
        <use xlink:href="#product-search"></use>
      </svg>
    </a>
    <button href="#" class="product-cart__link">
      <svg class="product-cart__icon">
        <use xlink:href="#product-cart"></use>
      </svg>
    </button>
    <button href="#" class="product-cart__link">
      <svg class="product-cart__icon">
        <use xlink:href="#product-heart"></use>
      </svg>
    </button>
  </div>
</article>