.conditions {
  padding: 120px 0 45px;
}

.page-content {

  h2,
  h3 {
    font-size: 24px;
    line-height: 1.2;
    @extend %rubik-500;
    margin-bottom: 22px;

  }

  ol {
    list-style-type: decimal-leading-zero;
  }

  li {
    margin-left: 33px;
    margin-bottom: 19px;
    padding-left: 7px;
    line-height: 1.9;

    &:last-child {
      margin-bottom: 63px;
    }
  }

  p {
    line-height: 1.8;
    margin-bottom: 60px;
  }
}